<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PROJECT2">
	
	<select id="mTitle" resultType="com.mystudy.model.vo.movieVO">
		SELECT *
		FROM MOVIE
		ORDER BY M_RATE DESC
	</select>
	
	<!-- 동적 검색 -->
	<select id="movie" parameterType="map" resultType="com.mystudy.model.vo.movieVO">
		SELECT *
		FROM MOVIE
		<choose>
			<when test="idx == 0">
				 ORDER BY M_DATE DESC
			</when>
			<when test="idx == 1">
				ORDER BY M_RATE DESC
			</when>
			<otherwise>
				ORDER BY M_DATE DESC
			</otherwise>
		</choose>
	</select>
	
</mapper>














